.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    
    height: 400px;
    width: 160px;
}

.cal-buttons{
    text-align: center;
    cursor: pointer;
    border-radius: 20px
}

.cal-buttons:hover{
    background-color: cornflowerblue;
}
